body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: none;
}

h3{
    font-size: 30px;
}

#header{
    background-color: rgba(240, 248, 255, 0.897);
    border: 2px solid black;
    padding:20px 30px;
    margin-bottom: 10px;;
}

#sidebar {
    float: left;
    width: 23%;
    background-color: rgba(248, 211, 108, 0.897);
    border: 2px solid black;
    padding:20px 30px;
}

#content {
    float: right;
    width: 60%;
    background-color: rgba(159, 241, 221, 0.918);
    border: 2px solid black;
    padding: 20px 30px;
    margin-bottom: 10px;
}

#footer {
    margin-top: 20px;
    clear: both;
    background-color: rgba(240, 248, 255, 0.897);
    border: 2px solid black;
    padding: 20px 30px;
}


.judul{
    font-size: 20px;
    font-weight: bold;
}

.deskripsi{
    margin-bottom: 10px;
}
